/*-----------------------*\
	Variables generales
\*-----------------------*/
	$sombra-oscura: #999999!default;
	$sombra-clara: #CCCCCC!default;

/*-----------------------*\
	articulos.scss
\*-----------------------*/
	$articulo__resumen--color-borde: #FFFFFF!default;
	$articulo__resumen--color-fondo: #F5F5F5!default;
	$articulo__header--color-fondo:  #4D92E7!default;
	$articulo__header--font-family:	sans!default;
	$articulo__titulo--color-fondo: #ffffff!default;
	$articulo__titulo--font-weight: 400!default;
	$fecha--color: #CCCCCC!default;


.articulo__resumen{
	border: 1px solid $articulo__resumen--color-borde;
	margin: 0 0.5rem 1rem 0.5rem;
	background-color: #ffffff;
	@include vendor(box-shadow, 2px 2px $sombra-oscura);
	background-color:$articulo__resumen--color-fondo;
}

.articulo__header{
	display: table;
	position:relative;
	left: -0.5rem;
	top: 1rem;
	background-color: $articulo__header--color-fondo;
	font-family: $articulo__header--font-family;
	@include vendor(box-shadow, 2px 2px $sombra-clara);
	&:before{
		position:absolute;
		content:'';
		bottom:100%;
		border-bottom: 0.5rem solid #154DAC ;
		border-left: 0.5rem solid transparent;
	}
}

.articulo__titulo{
	display: table-cell;
	vertical-align: middle;
	padding: 0.2rem 1rem 0.2rem 1rem;
	background-color: $articulo__titulo--color-fondo;
	font-weight: $articulo__titulo--font-weight;
	a{
		color: #4D92E7;
	}
}

.fecha{
	color: $fecha--color;
	//color:#ffffff;
	float: left;
	margin-left: 0.5rem;
	padding-right: 0.5em;
	@include media-query(lap-and-up){
		padding-right: 3em;
	}
}

.fecha__dia, .fecha__mes{
	display: table-cell;
	padding: 0.1rem;
	
}

.fecha__year{
	clear: both;
	text-align: center;
	border-top: 1px solid #C6CFD9;
}

.articulo__contenido{
	padding: 0.5em;
}