.navegacion{
	@extend .nav; 
	@extend .nav--banner;
	
		border-top: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc;

		li{
			padding: 0.5rem 0.7rem 0.5rem 0.7rem;
			a{
				text-decoration: none;
				color: $color-enlace;
				&:hover{
					color: $color-hover;
				}
			}
		}
		ul{
			margin: 0;
		}


		@include media-query(lap){
			margin: 0.5rem 10% 0.5rem 10%;
		}

		@include media-query(desk){
			margin: 0.5rem 20% 0.5rem 20%;
		}		


}